<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="Backend/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeBackend" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="Backend/server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true" />

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>